@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    /* margin: ; */
    /* min-height: 100vh; */
}

nav {
    background-color: rgb(25, 47, 94);
    position:fixed;
    top: 0;
    right: 0px;
    display: flex; 
    padding: 0px; 
    width: 100%;
    justify-content: center;
    z-index: 1;
   
    
}
header{
    left: 0px;
    right: 0px;
}

.header{
    position:absolute;
    justify-content: center;
    top:50px;
    text-align: center;
    width: 100%;
    right: 0px;
    background-color: rgb(235, 228, 32);
}

nav ul {
    /* padding-left: 20px; */
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    padding: 0rem; 
    display:inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    font-size:20px;
    padding-right:30px; 
}

.image-container{
    height: 250px;
    width: 250px;
    overflow: hidden;
}

img{
    transform-origin: center center;
    object-fit:cover;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    filter: brightness(100%);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    justify-content: left; 
    align-items: stretch;
    position: relative; 
  }

.card{
    padding: 50px;
    /* text-align: center; */
    overflow: hidden;
}

.card-title{
    font-family: inherit;
    font-weight:bold;
}

.card-price{
    font-family: inherit;
    font-weight:bold;
}

.category1{
    color: rgb(19, 28, 28);
    text-align: center;
    font-family: inherit;
    font-size: 35px;
    /* margin-top: 80px; */
}

.category2{
    color: rgb(19, 28, 28);
    text-align: center;
    font-family: inherit;
    font-size: 35px;
}
.container{
    margin-top: 150px;
    position: relative;
}

.shop-item-button{
    padding: 0.5rem;
    background-color: rgb(25, 47, 94);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.image-container:hover img{
    transform: scale(1.5);
    filter: brightness(130%); 
}

.cart-img{
    height: 50px;
    width: 50px;
    overflow: hidden
}

.cart{
    position:fixed;
    bottom:10px;
    right:10px;
}

.fa-shopping-cart{
    color:white;
}
.cart-holder{
    border:2px solid #56CCF2;
    border-radius: 7px;;
    padding:2px 10px;
    position: absolute;
    right: 2%;
}
.cart-number{
    position:absolute;
    color:#56CCF2;
    font-size: 20px;
    top:-10px;
    right:-15px;
} 

@media(max-width:600px){
    header li{
        margin:0px 20px;
    } 
 } 
#cart{
    margin:0px;
    display: none;
    position:fixed;
    top:50px;
    height: 95%;
    right:0;
    background-color:rgba(218, 233, 234);
    border:2px solid rgb(13, 13, 13);
    min-height:50vh;
}
#cart h2{
    margin:20px 0px;
    padding:0;
    padding-left: 40px;
}

.cart-btn-bottom{
    display:flex;
    padding:15px;
    background-color: #777;
    border:none;
    border-radius:7px;
    margin:auto;
    cursor:pointer;
}
.cart-bottom{
    text-decoration: none;
    color:#56CCF2;
    font-size: 16px;
    font-weight:700;
}
.cancel{ 
   position:absolute;
    cursor:pointer;
    color:rgb(121, 117, 117);
    top:0;
    right:0;
    margin:20px;
    background:none;
    font-size:16px;
    font-weight: 700;
    border:1px solid rgb(121, 117, 117);
    border-radius:7px;
     /* padding:5px; */
} 

.cart-row{
    font-size:18px;
    display:flex;
    padding-left: 40px;
}
.cart-header{
    font-size:1.2rem;
    font-weight: bold;
}
.cart-item{
    width:45%;
}
.cart-img{
    width:80px;
    border-radius:8%;
    margin-right:20px;
}
.cart-price{
    width:20%;
}
.cart-quantity{
    width:35%;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-quantity input{
    width:40px;
    height:30px;
    border:1px solid rgb(0, 204, 255) ;
    border-radius:8%;
    outline:none;
    text-align:center;
    margin-right:20px;
}
.cart-quantity button{
    color:white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border:none;
    border-radius:8%;
    height:30px;
    outline:none;
    padding: 0px 7px;
    margin-left: 10px;
}
.cart-quantity button:hover{
    background: rgb(218, 37, 37);;
}
.cart-total{
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2rem;
    margin:20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size:1.5rem;
}

.purchase-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
    background: #17356f;
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    border:none;
    border-radius:8%;
    padding:12px;
    cursor: pointer;
}

.footer{
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0px;
    margin-top:40px;
    background: brown;
    right: 0px;
    display:inline-block;
}

ul {
    /* padding-left: 20px; */
    list-style-type: none;
    color: azure;
}

ul li {
    padding: 0rem; 
    display:inline-block;
    color: white;
    padding-right: 20px;
    
}

ul li a{
    color:rgb(255, 255, 255);
    
}

.footer h1{
    padding-left: 40px;
} 

#notification{
    position:fixed;
    bottom:10px;
    right:10px;
    background-color: rgb(73, 219, 73);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.pages{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.pages button{
    background: rgb(14, 158, 45);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none ;
    font-family: inherit;
    margin-left: 10px;
    margin-right: 10px;
}

.pages span{
    font-family: inherit;
    font-weight: bold;
}

.orders{
    /* display: flex; */
    position: absolute;
    top: 140px;
    left: 50px; 
    border-right: 3px solid rgb(150, 26, 26);
    height: 100%;
  }

.order-details{
    position: absolute;
    top: 160px;
    left: 350px;
    padding: 20px;  
    background-color: rgb(255, 254, 243);
    border: 1px solid;
    display: none;
    font-family: inherit;
    border-radius: 10px;
}

.order-container{
    font: inherit;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 50px;

}

.details-button{
    background: rgb(26, 25, 81);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none ;
    font-family: inherit;
    margin-left: 50px;
}

.total-cost{
    font-weight: bold;
    padding: 15px;
    text-align: right;
    font-family: inherit;
    margin-right: 25px;
}

.value{
    margin-left: 20px;
}

.notification{
    background-color: rgb(31, 250, 31);
    color: rgb(14, 14, 56);
    border-radius: 2px;

}